@{
    ViewData["Title"] = "Galaxy Training";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos - Patron Repository</h1>
    <p class="alert alert-info">Hoy aprenderemos a crear el patron repositorio</p>
</div>
